<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-mm-dd'T'HH:mm:ss.SSSZ} %4relative [%thread] %-5level %class{40}#%method@%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/skalli-log.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>skalli-log.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-mm-dd'T'HH:mm:ss.SSSZ} %4relative [%thread] %-5level %class{40}#%method@%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/audit-log.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>audit-log.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-mm-dd'T'HH:mm:ss.SSSZ} %4relative [%thread] %-5level %class{40}#%method@%line - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="audit">
        <level value="all" />
        <appender-ref ref="AUDIT" />
    </logger>

    <root>
        <level value="info" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
